trclogging.properties
*.patch
/.settings/
bin
*.jar
lib
*.zip

# WARNING: git bash on Windows treats filenames as case INSENSITIVE and eclipse treats them (correctly) as case SENSITIVE.
# Thus for git bash 'xmltv*.*' matches 'XMLTVSourceCombiner.java' and 'xmltv_epg.xml' but eclipse only matches 'xmltv_epg.xml'
# Obviously this leads to a discrepency in what is reported as changed in git bash and eclipse.
# In this case, exceptionally, BELIEVE IN ECLIPSE
# xmltv*.*
/target/
/target_test/
tvguide/**
!tvguide/tvguide.xsl
!tvguide/bin
!tvguide/bin/tvguide.xsl
!tvguide/bin/doTVGuide.cmd
!tvguide/script
!tvguide/script/*
!tvguide/crit
!tvguide/crit/*
!tvguide/xml
!tvguide/xml/mergexmltv.xmltv
**/*.bak
*.diff
*.log
xmltv_epg-full.xml
xmltv_gb-full.xml
TestResult*.*
