trclogging.properties
*.patch
.settings
bin
HTMLMaker.jar
lib
*.zip
xmltv*.*
/target/
/target-test/
tvguide/**
!tvguide/tvguide.xsl
!tvguide/bin
!tvguide/bin/tvguide.xsl
!tvguide/bin/doTVGuide.cmd
!tvguide/script
!tvguide/script/*
!tvguide/crit
!tvguide/crit/*
**/*.bak
